body{
    
display: flex;
flex-direction: column;
}

label {
    display: inline-block;
    margin-top: 1em;
    width: 80px;
    text-align: right;
}

label:first-of-type {
    margin-top: 0;
}

input[type="email"], 
input[type="text"], 
input[type="password"],
input[type="number"] {
    width: 5em;
}
input[type="submit"] {
    margin-left: 15em;
    background-color: lightblue;    
}
/*

body {
    font-size: 110%;
    display: flex;
    flex-direction: column;
}

legend {
    font-size: 1.25em;
    font-weight: bold;
    padding: 0 .25em;
    color: rgb(0, 0, 0);
}

label {
    display: inline-block;
    margin-top: 1em;
    width: 80px;
    text-align: right;
}

label:first-of-type {
    margin-top: 0;
}

input[type="email"], 
input[type="text"], 
input[type="password"],
input[type="number"] {
    width: 20em;
}

select {
    width: 10em;
}

.formfield * {
    vertical-align: top;
}

textarea {
    display: inline-block;
    width: 20em;
    height: 6em;
}

input[type="submit"] {
    margin-left: 15em;
    background-color: lightblue;    
}

.textafter::after {
    content:"Required";
    color: red;
    margin-left: 1em;
    font-size: 90%
}
*/